    {foreach $list[0] as $v}
    <dl>
        <dt class="selected"><i class="Hui-iconfont">&#xe667;</i>{$v['powe_name']}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                {foreach $list[$v['powe_id']] as $v2}
                <li><a _href="{$v2['powe_url']}" data-title="{$v2['powe_name']}" href="javascript:;" data-nav="{$v2['powe_name']} <span class=&quot;c-gray en&quot;>&amp;gt;</span> {$v2['powe_name']}">{$v2['powe_name']}</a></li>
                {/foreach}
            </ul>
        </dd>
    </dl>
   {/foreach}
<script>

    function logout() {
        layer.confirm('您确定要退出登录？',{title:'登出提醒'},function (index) {
            location.href = '{:\\think\\Url::build("admin/login/logout",["logout" => 1])}'
        })
    }
</script>
</script>

