<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    {load href="/static/admin/css/index/bootstrap.min.css" /}
    {load href="/static/admin/css/index/font-awesome.css" /}
    {load href="/static/admin/css/index/AdminLTE.css" /}
    {load href="/static/admin/css/index/_all-skins.min.css" /}
    {load href="/static/admin/css/index/supershopui.common.min.css" /}
    {load href="/static/admin/css/example.css" /}
    {load href="/static/admin/css/sweet-alert.css" /}
    {load href="/static/admin/js/skin/style.css" /}
    {load href="/static/admin/js/skin/layer.css" /}
    {load href="/static/admin/css/goods/bootstrap-switch.css" /}
</head>

