<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    {load href="/static/admin/js/jquery.min.js" /}
    {load href="/static/admin/js/bootstrap.min.js" /}
    {load href="/static/admin/js/supershopui.common.js" /}
    {load href="/static/admin/js/jquery-ui.min.js" /}
    {load href="/static/admin/js/sweet-alert.js" /}
    {load href="/static/admin/js/goods/bootstrap-switch.js" /}
</head>

