{extend name="template/base" /}
{block name="content"}
<div class="nav" ectype="dscNav">
    <div class="w w1200">
        <div class="categorys ">
            <div class="categorys-type"><a href="categoryall.php" target="_blank">全部商品分类</a></div>
            <div class="categorys-tab-content">
                <div class="categorys-items" id="cata-nav">
                    {foreach $class as $v}
                    <div class="categorys-item" ectype="cateItem" data-id="{$v['goods_class_id']}" data-eveval="0">
                        <div class="item item-content">
                            <i class="iconfont icon-ele"></i>
                            <div class="categorys-title">
                                <strong>
                                    <a href="{$v['goods_class_id']}" target="_blank">{$v['class_name']}</a>
                                </strong>
                                <span>
                                        {$length =0}
                                        {foreach $goods_class_array[$v['goods_class_id']] as $k=>$i}
                                        {$length=$length+1}
                                            {if $length < 3}
                                            <a href="category.php?id=1105" target="_blank">{$i['class_name']}</a>
                                            {/if}
                                        {/foreach}
                                </span>
                            </div>
                        </div>
                        <div class="categorys-items-layer" ectype="cateLayer">
                            <div class="cate-layer-con clearfix">
                                <div class="cate-layer-left">
                                    <div class="cate_channel" ectype="channels_{$v['goods_class_id']}"></div>
                                    <div class="cate_detail" ectype="subitems_{$v['goods_class_id']}"></div>
                                </div>
                                <div class="cate-layer-rihgt" ectype="brands_{$v['goods_class_id']}"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="nav-main" id="nav">
            <ul class="navitems">
                <li><a href="index.php" class="curr">首页</a></li>
                {foreach $class as $v}
                <li><a href="category.php?id=12"  >{$v['class_name']}</a></li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>

<div class="content" ectype="lazyDscWarp">
    <div class="banner home-banner">
        <div class="bd">
            <ul>
                <li style="background:url(/static/home/images/1505668936008015718.jpg) center center no-repeat;"><div class="banner-width"><a href="http://www.wygk.cn/" target="_blank"></a></div></li>
                <li style="background:url(/static/home/images/1490122707106036304.jpg) center center no-repeat;"><div class="banner-width"><a href="http://www.wygk.cn/" target="_blank"></a></div></li>
                <li style="background:url(/static/home/images/1490122697974513454.jpg) center center no-repeat;"><div class="banner-width"><a href="http://www.wygk.cn/" target="_blank"></a></div></li>
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
    <div class="channel-content" ectype="channel">

        <input type="hidden" value="1" name="seckill_goods"/>
        <input type="hidden" value="1" name="index_ad_cat"/>
    </div>
    <div class="floor-content" ectype="goods_cat_level">

    </div>
    <div class="other-content">
        {foreach $goods_column as $k=>$v}
        <div class="lift-channel clearfix" >
            <div class="ftit"><h3>{$goods_class_name[$k]}</h3></div>
           <ul>
               {foreach $v as $v1}
               <li class="opacity_img">
                   <a href="goods.php?id=684">
                       <div class="p-img"><img src="{$v1.goods_images}"></div>
                       <div class="p-name" title="{$v1.goods_summary}">{$v1.goods_name}</div>
                       <div class="p-price">
                           <div class="shop-price"><em>￥</em>{$v1.goods_sales_price}</div>
                           <div class="original-price"></div>
                       </div>
                   </a>
               </li>
               {/foreach}
           </ul>
        </div>
        {/foreach}

        <div class="master-channel" id="master">
            <div class="ftit"><h3>达人专区</h3></div>
            <div class="master-con">
                <div class="m-c-item m-c-i-1" style="background:url(/static/home/images/1490915252102177200.jpg) center center no-repeat;">
                    <div class="m-c-main">
                        <div class="title">
                            <h3>纯棉质品</h3>
                            <span>把好货带回家</span>
                        </div>
                        <a href="http://www.wygk.cn/" class="m-c-btn" target="_blank">去见识</a>
                    </div>
                    <div class="img"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1489096584382939358.png" style="max-width:99px; max-height:72px;"></a></div>
                </div>
                <div class="m-c-item m-c-i-2" style="background:url(/static/home/images/1490915247993555311.jpg) center center no-repeat;">
                    <div class="m-c-main">
                        <div class="title">
                            <h3>团购热卖</h3>
                            <span>每一款都是好货</span>
                        </div>
                        <a href="http://www.wygk.cn/" class="m-c-btn" target="_blank">去见识</a>
                    </div>
                    <div class="img"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1489096593220418206.png" style="max-width:99px; max-height:72px;"></a></div>
                </div>
                <div class="m-c-item m-c-i-3" style="background:url(/static/home/images/1490915242570296715.jpg) center center no-repeat;">
                    <div class="m-c-main">
                        <div class="title">
                            <h3>团购热卖</h3>
                            <span>都是好货</span>
                        </div>
                        <a href="http://www.wygk.cn/" class="m-c-btn" target="_blank">去见识</a>
                    </div>
                    <div class="img"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1489096600517435313.png" style="max-width:99px; max-height:72px;"></a></div>
                </div>
                <div class="m-c-item m-c-i-4" style="background:url(/static/home/images/1490915236292888895.jpg) center center no-repeat;">
                    <div class="m-c-main">
                        <div class="title">
                            <h3>舒适童鞋</h3>
                            <span>帮宝宝学走路</span>
                        </div>
                        <a href="http://www.wygk.cn/" class="m-c-btn" target="_blank">去见识</a>
                    </div>
                    <div class="img"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1489096607113568601.png" style="max-width:99px; max-height:72px;"></a></div>
                </div>
                <div class="m-c-item m-c-i-5" style="background:url(/static/home/images/1490915231687856118.jpg) center center no-repeat;">
                    <div class="m-c-main">
                        <div class="title">
                            <h3>双十二运动鞋</h3>
                            <span>品牌直降</span>
                        </div>
                        <a href="http://www.wygk.cn/" class="m-c-btn" target="_blank">去见识</a>
                    </div>
                    <div class="img"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1489096615934856180.png" style="max-width:99px; max-height:72px;"></a></div>
                </div>

            </div>
        </div>
        <div class="brand-channel clearfix" id="h-brand">
            <div class="home-brand-adv slide_lr_info"><a href="http://www.wygk.cn/" target="_blank"><img src="/static/home/images/1490896397653643539.jpg" width="484" height="178" class="slide_lr_img"></a></div>
            <div class="brand-list" id="recommend_brands">
                <ul>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=204" target="_blank"><img src="/static/home/images/1490039286075654490.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="204" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=204" target="_blank">关注人数<br><div id="collect_count_204">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=93" target="_blank"><img src="/static/home/images/1490072850306019115.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="93" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=93" target="_blank">关注人数<br><div id="collect_count_93">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=209" target="_blank"><img src="/static/home/images/1490075378902486254.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="209" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=209" target="_blank">关注人数<br><div id="collect_count_209">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=203" target="_blank"><img src="/static/home/images/1490228332533535072.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="203" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=203" target="_blank">关注人数<br><div id="collect_count_203">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=200" target="_blank"><img src="/static/home/images/1490074447209712752.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="200" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=200" target="_blank">关注人数<br><div id="collect_count_200">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=195" target="_blank"><img src="/static/home/images/1490075385239594909.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="195" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=195" target="_blank">关注人数<br><div id="collect_count_195">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=71" target="_blank"><img src="/static/home/images/1490071974970349584.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="71" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=71" target="_blank">关注人数<br><div id="collect_count_71">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=72" target="_blank"><img src="/static/home/images/1490072313895957648.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="72" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=72" target="_blank">关注人数<br><div id="collect_count_72">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=73" target="_blank"><img src="/static/home/images/1490072329183966195.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="73" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=73" target="_blank">关注人数<br><div id="collect_count_73">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=74" target="_blank"><img src="/static/home/images/1490072344340492758.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="74" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=74" target="_blank">关注人数<br><div id="collect_count_74">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=75" target="_blank"><img src="/static/home/images/1490072358487439203.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="75" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=75" target="_blank">关注人数<br><div id="collect_count_75">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=76" target="_blank"><img src="/static/home/images/1490072373278367315.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="76" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=76" target="_blank">关注人数<br><div id="collect_count_76">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=77" target="_blank"><img src="/static/home/images/1490072384627679069.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="77" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=77" target="_blank">关注人数<br><div id="collect_count_77">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=78" target="_blank"><img src="/static/home/images/1490072399542595828.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="78" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=78" target="_blank">关注人数<br><div id="collect_count_78">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=79" target="_blank"><img src="/static/home/images/1490072677495061584.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="79" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=79" target="_blank">关注人数<br><div id="collect_count_79">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=80" target="_blank"><img src="/static/home/images/1490072417755830176.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="80" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=80" target="_blank">关注人数<br><div id="collect_count_80">0</div></a></div>
                        </div>
                    </li>
                    <li>
                        <div class="brand-img"><a href="brandn.php?id=81" target="_blank"><img src="/static/home/images/1490072685002270742.jpg"></a></div>
                        <div class="brand-mash">
                            <div data-bid="81" ectype="coll_brand"><i class="iconfont icon-zan-alt"></i></div>
                            <div class="coupon"><a href="brandn.php?id=81" target="_blank">关注人数<br><div id="collect_count_81">0</div></a></div>
                        </div>
                    </li>
                </ul>
                <input type="hidden" name="user_id" value="0">
                <a href="javascript:void(0);" ectype="changeBrand" class="refresh-btn"><i class="iconfont icon-rotate-alt"></i><span>换一批</span></a>
            </div>
        </div>
    </div>
</div>
{/block}