{extend name="template/base" /}
{block name="content"}
<div class="channel-content" ectype="channel">

    <input type="hidden" value="1" name="seckill_goods"/>
    <input type="hidden" value="1" name="index_ad_cat"/>
</div>
<div class="container">
    <div class="w w1200">
        <div class="cart-warp">
            <div class="cart-filter">
                <div class="cart-stepflex">
                    <div class="cart-step-item curr">
                        <span>1.我的购物车</span>
                        <i class="iconfont icon-arrow-right-alt"></i>
                    </div>
                    <div class="cart-step-item">
                        <span>2.填写订单信息</span>
                        <i class="iconfont icon-arrow-right-alt"></i>
                    </div>
                    <div class="cart-step-item">
                        <span>3.成功提交订单</span>
                    </div>
                </div>
            </div>
            <div class="cart-table">
                <div class="cart-head">
                    <div class="column c-checkbox">
                        <div class="cart-checkbox cart-all-checkbox" ectype="ckList">
                            <input type="checkbox"  checked id="cart-selectall" class="ui-checkbox checkboxshopAll" ectype="ckAll">
                            <label for="cart-selectall" class="ui-label-14">全选</label>
                        </div>
                    </div>
                    <div class="column c-goods">商品</div>
                    <div class="column c-props"></div>
                    <div class="column c-price">单价（元）</div>
                    <div class="column c-quantity">数量</div>
                    <div class="column c-sum">小计</div>
                    <div class="column c-action">操作</div>
                </div>
                <div class="cart-tbody" ectype="cartTboy">
                    <div class="cart-item" ectype="shopItem">
                        <div class="shop">
                          
                            <div class="shop-txt">
                                <a href="javascript:;" class="shop-name self-shop-name">YC自营</a>

                                <a href="javascript:;" id="IM" onclick="openWin(this)" ru_id="0" class="p-kefu p-c-violet"><i class="iconfont icon-kefu"></i></a>

                            </div>
                        </div>
                        <div class="item-list" ectype="itemList">
                            <div class="item-single">
                                {foreach $cart_list as $k=>$v}
                                <div style="display: none;">{$sum_price += $v['goods_sales_price'] * $v['number']}</div>
                                <div class="item-item selected" ectype="item" id="product_642" data-recid="{$v.goods_id}" data-goodsid="642">
                                    <div class="item-form">
                                        <div class="cell s-checkbox">
                                            <div class="cart-checkbox" ectype="ckList">
                                                <input type="checkbox" id="checkItem_{$k}" value="{$v.cart_id}" checked  name="checkItem" class="ui-checkbox" ectype="ckGoods">
                                                <label for="checkItem_{$k}" class="ui-label-14">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="cell s-goods">
                                            <div class="goods-item">
                                                <div class="p-img">
                                                    <a href="goods.php?id=642" target="_blank"><img src="<?php $images = json_decode($v['goods_images'],true); echo $images[0]; ?>" width="70" height="70"></a>
                                                </div>
                                                <div class="item-msg">
                                                    <a href="goods.php?id=642" target="_blank">{$v['goods_summary']}</a>
                                                    <div class="gds-types">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell s-props">
                                            &nbsp;                                            </div>
                                        <div class="cell s-price">
                                            <strong id="goods_price_49">{$v['goods_sales_price']}</strong>
                                        </div>
                                        <div class="cell s-quantity">
                                            <div class="amount-warp">
                                                <input type="text" value="{$v['number']}" name="goods_number[49]" id="goods_number_49" onchange="change_goods_number(49, this.value, 3, 29)" class="text buy-num" ectype="number" defaultnumber="1">
                                                <div class="a-btn">
                                                    <a href="javascript:void(0);" onclick="changenum(49, 1, 3, 29)" class="btn-add"><i class="iconfont icon-up"></i></a>
                                                    <a href="javascript:void(0);" onclick="changenum(49, -1, 3, 29)" class="btn-reduce btn-disabled"><i class="iconfont icon-down"></i></a>
                                                </div>
                                            </div>
                                            <div class="tc ftx-03">有货</div>
                                        </div>
                                        <div class="cell s-sum">
                                            <strong id="goods_subtotal_49"><font id="_49_subtotal"><em>¥</em>{$v['number']*$v['goods_sales_price']}</font></strong>
                                            <div class="cuttip hide">
                                                <span class="tit">优惠</span>
                                                <span class="price" id="discount_amount_49"><em>¥</em>0.00</span>
                                            </div>
                                        </div>
                                        <div class="cell s-action">
                                            <a href="javascript:void(0);" id="remove_49" ectype="cartOperation" data-value="{&quot;divId&quot;:&quot;cart_remove&quot;,&quot;url&quot;:&quot;flow.php?step=drop_goods&amp;id=49&quot;,&quot;cancelUrl&quot;:&quot;flow.php?step=drop_to_collect&amp;id=49&quot;,&quot;recid&quot;:49,&quot;title&quot;:&quot;删除&quot;}" class="cart-remove">删除</a>
                                            <a href="javascript:void(0);" id="store_49" ectype="cartOperation" data-value="{&quot;divId&quot;:&quot;cart_collect&quot;,&quot;url&quot;:&quot;flow.php?step=drop_to_collect&amp;id=49&quot;,&quot;recid&quot;:49,&quot;title&quot;:&quot;关注&quot;}" class="cart-store">收藏</a>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-tfoot">
                    <div class="cart-toolbar" ectype="tfoot-toolbar">
                        <div class="w w1200">
                            <div class="cart-checkbox cart-all-checkbox" ectype="ckList">
                                <input type="checkbox" checked id="toggle-checkboxes-down" class="ui-checkbox checkboxshopAll" ectype="ckAll">
                                <label for="toggle-checkboxes-down" class="ui-label-14">全选</label>
                            </div>
                            <div class="operation">
                                <a href="javascript:void(0);" class="cart-remove-batch" data-dialog="remove_collect_dialog" data-divid="cart-remove-batch" data-removeurl="ajax_dialog.php?act=delete_cart_goods" data-collecturl="ajax_dialog.php?act=drop_to_collect" data-title="删除">删除选中的商品</a>
                                <a href="javascript:void(0);" class="cart-follow-batch" data-dialog="remove_collect_dialog" data-divid="cart-collect-batch" data-removeurl="ajax_dialog.php?act=delete_cart_goods" data-collecturl="ajax_dialog.php?act=drop_to_collect" data-title="关注">移到我的收藏</a>
                            </div>
                            <div class="toolbar-right">
                                <div class="comm-right">
                                    <div class="btn-area">
                                        <form name="formCart" method="post" id="formCart" onsubmit="return get_toCart();" action="/home/payment/payment_order">
                                            <input name="goPay" type="submit" class="submit-btn" value="去支付"  >
                                                <input name="cart_id" value="" type="hidden" id="cart_id">
                                            <input name="step" value="checkout" type="hidden">
                                            <input name="store_seller" value="" type="hidden" id="cart_store_seller">
                                            <input name="cart_value" id="cart_value" value="49" type="hidden">
                                            <input name="goods_ru" id="goods_ru" value="" type="hidden">
                                            <input name="store_order" id="store_order" value="0" type="hidden">
                                        </form>
                                    </div>
                                    <div class="price-sum" id="total_desc">
                                        <span class="txt">总价(不含运费)：</span>
                                        <span class="price sumPrice" id="cart_goods_amount" ectype="goods_total"><em>¥</em>{$sum_price}</span>
                                    </div>
                                    <div class="reduce-sum">
                                        <span class="txt">已节省：</span>
                                        <span class="price totalRePrice" id="save_total_amount" ectype="save_total"><em>¥</em>0.00</span>
                                    </div>
                                    <div class="amount-sum">已选择<em class="cart_check_num" ectype="cartNum">1</em>件商品</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="p-panel-main c-history">-->
            <!--<div class="ftit ftit-delr"><h3>猜你喜欢</h3></div>-->
            <!--<div class="gl-list clearfix">-->
                <!--<ul class="clearfix">-->
                    <!--<li class="opacity_img">-->
                        <!--<div class="p-img"><a href="goods.php?id=864" target="_blank"><img src="images/201703/thumb_img/0_thumb_G_1490211620029.jpg" width="190" height="190"></a></div>-->
                        <!--<div class="p-price"><em>¥</em>128.00</div>-->
                        <!--<div class="p-name"><a href="goods.php?id=864" title="马克华菲长袖T恤男士圆领修身韩版刺绣纯棉2017春装新款潮t 7002 立体3D绣花 欧美潮流范 17春装新品" target="_blank">马克华菲长袖T恤男士圆领修身韩版刺绣纯棉2017春装新款潮t 7002 立体3D绣花 欧美潮流范 17春装新品</a></div>-->
                        <!--<div class="p-num">已售<em>0</em>件</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<script type="text/javascript">

    function changenum(rec_id, diff, warehouse_id, area_id, favourable_id){
        var cValue = $("#cart_value").val();
        var goods_number = Number($('#goods_number_' + rec_id).val()) + Number(diff);
        if(goods_number < 1){
            pbDialog(json_languages.Purchase_restrictions,"",0)
        }else{
            change_goods_number(rec_id,goods_number, warehouse_id, area_id, cValue, favourable_id);
        }
    }

    function change_goods_number(rec_id, goods_number, warehouse_id, area_id, cValue, favourable_id){
        if(cValue != "" || cValue == 'undefined'){
            var cValue = $("#cart_value").val();
        }
        if(goods_number == 0){
            //pbDialog("数量不能为0","",0);
            goods_number = 1;
        }

        var items = $("#checkItem_" +rec_id).parents(".item-single");
        var input = items.find("*[ectype='ckGoods']");
        var str ='';
        var arr = [];
        input.each(function(){
            if($(this).prop('checked')== true){
                var val = $(this).val();
                str += val + ',';
                arr.push(val);
            }
        });

        str = str.substring(str.length-1,0);

        if(str == ""){
            pbDialog("请勾选中商品在修改商品数量","",0);
            return false;
        }else{
            if(arr.indexOf(String(rec_id)) == -1){
                pbDialog("请勾选中商品在修改商品数量","",0);
                return false;
            }

            if(items.attr("ectype") == "promoItem"){
                var promoStr = "";
                input.each(function(){
                    var val = $(this).val();
                    promoStr += val + ',';
                })

                promoStr = promoStr.substring(promoStr.length-1,0);
            }
        }

        Ajax.call('flow.php?step=ajax_update_cart', 'rec_id=' + rec_id + '&sel_id=' + str + '&pro_sel_id=' + promoStr + '&sel_flag=' + 'cart_sel_flag' +'&goods_number=' + goods_number +'&cValue=' + cValue +'&warehouse_id=' + warehouse_id +'&area_id=' + area_id +'&favourable_id=' + favourable_id, change_goods_number_response, 'POST','JSON');
    }

    function change_goods_number_response(result)
    {
        var rec_id = result.rec_id;
        if(result.error == 0){
            $('#goods_number_' +rec_id).val(result.goods_number);//更新数量
            $('#goods_subtotal_' +rec_id).html(result.goods_subtotal);//更新小计

            if(result.dis_amount > 0){
                $('#discount_amount_' +rec_id).parents('.cuttip').removeClass("hide");
            }else{
                $('#discount_amount_' +rec_id).parents('.cuttip').addClass("hide");
            }

            $('#discount_amount_' +rec_id).html(result.discount_amount);//商品优惠价格

            if(result.goods_number == 1){
                $('#goods_number_' +rec_id).parents('.amount-warp').find('.btn-reduce').addClass("btn-disabled");
            }else{
                $('#goods_number_' +rec_id).parents('.amount-warp').find('.btn-reduce').removeClass("btn-disabled");
            }
            if(result.goods_number <= 0){
                $('#tr_goods_' +rec_id).style.display = 'none'; //数量为零则隐藏所在行
                $('#tr_goods_' +rec_id).innerHTML = '';
            }
            $('#total_desc').html(result.flow_info);//更新合计
            if ($('ECS_CARTINFO')){
                $('#ECS_CARTINFO').html(result.cart_info); //更新购物车数量
            }

            if(result.group.length > 0){
                for(var i=0; i<result.group.length; i++){
                    $("#" + result.group[i].rec_group).html(result.group[i].rec_group_number);//配件商品数量
                    $("#" + result.group[i].rec_group_talId).html(result.group[i].rec_group_subtotal);//配件商品金额
                }
            }

            $("#goods_price_" + rec_id).html(result.goods_price);
            $("*[ectype='save_total']").html(result.save_total_amount); //优惠节省总金额
            $("*[ectype='cartNum']").html(result.subtotal_number); //商品总数

            // 如果是优惠活动内的商品，更新优惠活动局部 qin
            if (result.act_id){
                $("#product_promo_" + result.ru_id + "_" + result.act_id).html(result.favourable_box_content);
            }
        }else if(result.message != ''){
            //更新数量
            $('#goods_number_' +rec_id).val(result.cart_Num);
            pbDialog(result.message," ",0,"",90,10);
        }
    }
    // //购物车底边悬浮栏
    // tfootScroll();
    // //超值礼包
    // $(".package_goods ul").perfectScrollbar("destroy");
    // $(".package_goods ul").perfectScrollbar();
</script>
<script type="text/javascript">
    $('input[name="goPay"]').click(function () {
        if(true){
            var checkID = [];//定义一个空数组
            //接收选中的商品
            $("input[name='checkItem']:checked").each(function(i){
                checkID[i] =$(this).val();
            });
            console.info(checkID);
            $("#cart_id").val(checkID);
        }
        $('#formCart').submit();
    });

    $('.checkboxshopAll').on('click',function(){

        if(this.checked) {
            $("input[name='checkItem']").prop('checked',true);
        }else {
            $("input[name='checkItem']").attr('checked',false);
        }
    });


    $(function(){
        $("input[name='store_order']").val(0);

        $(document).on('click', "[ectype='store_order']", function(){
            var i = 0;
            $("*[ectype='ckShopAll']").each(function(){
                var t = $(this);
                if(t.prop("checked") == true){
                    i++
                }
            });

            if(i > 1){
                pbDialog("不同商家的商品不可以批量门店自提","",0,'','',55);
            }else{
                $("input[name='store_order']").val(1);
                $("form[name='formCart']").submit();
            }
        });
    })
</script>
{/block}