{extend name="template/base" /}
{block name="nav"}

{/block}
{block name="content"}
<div class="page-container" style="min-width:900px;">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$val.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>旧密码验证：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="{$val.title ?? ''}" placeholder="" name="old_pass"
                       datatype="*" nullmsg="旧密码">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="{$val.title ?? ''}" placeholder="" name="new_pass"
                       datatype="*" nullmsg="新密码">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>再次输入新密码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="password" class="input-text" value="{$val.title ?? ''}" placeholder="" name="new_pass_re"
                       datatype="*" nullmsg="新密码">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret) {
                if( 0 === ret.code ) {
                    layer.open({
                        content: '操作成功，是否留在当前页?',
                        btn: ['确认', '返回首页'],
                        yes: function() {
                            window.location.reload();
                        },
                        btn2: function() {
                            window.location.href = ret.opt.url;
                        },
                        cancel: function() {
                            //右上角关闭回调
                            window.location.href = ret.opt.close;
                        }
                    });
                } else {
                    layer.alert(ret.msg, {title: "错误信息", icon: 2});
                }
            }
        });
    })
</script>
{/block}